.Chat-main
  .Chat-main__group-info
    .group-main-header-left
      .group-name
        = @group.name
      %ul.group-members
        .top-items__name
          - @group.users.each do |user|
            = user.name
    %a
      = link_to "Edit",edit_group_path(@group.id),class: "edit-btn"
  .Message-list
    = render @messages

  .Footer
    = form_with model: [@group, @message], html: {class: "class-form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'class-name__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'image-icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'